/*Importing styles*/
@import url('https://fonts.googleapis.com/css2?family=Andika&family=Dhurjati&display=swap');


/* override default browser styles and add general styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: "Andika" sans-serif;
    color: #8f8c8c;
}

/* Header */
header {
    display: flex;
    position: fixed;
    background-color: rgba(199, 195, 195, 0);
    width: 100%;
    /*Layered on top of every other element*/
    z-index: 99;
    padding: 0 10px;
    justify-content: space-between;
    align-items: baseline;

}

a {
    text-decoration: none;
    color: #f5f1e8;
}

h1 {
    font-family: "Dhurjati";
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    color: rgb(31, 6, 6);
    border-bottom: double;

}

#menu {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 0;
    list-style: none;
    gap: 20px;
    letter-spacing: 2px;
}

.active {
    text-decoration: underline;

}

/* Dropdown toggle */
nav {
    /* Takes element outside normal flow */
    position: absolute;

    width: 100%;
    left: 0;
    padding: 0 10px;
    display: none;
    top: 100%;


}

/* Nav dropdown pseudo class */
#dropdown:checked~nav {
    display: block;

}

#dropdown {
    display: none;
}

.dropdown-label {

    padding-right: 15px;
}



/* Main content */

main {
    flex: 1 0 auto;
    height: 2000px;
    background-color: #9a6c4b;


}

/* Hero image */
#hero {
    width: 100%;
    height: 653px;
    background: url("../images/hour.png") no-repeat center center/cover;
}

footer {


    display: flex;
    position: fixed;
    background-color: transparent;
    width: 100%;
    z-index: 98;
    padding: 5px 10px;
    justify-content: space-evenly;
    bottom: 0;

}

span {
    font-size: large;
    color: white;
}



/* Media Query 768px and up */

/* Header */
@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        width: fit-content;
        display: flex;
    }

    #menu {
        display: flex;
        flex-direction: row;
        gap: 100px;


    }

    .dropdown-label {
        display: none;
    }

    #hero {
        height: 836px;
    }

    span {
        font-size: 27px;
    }

    .media {
        font-size: 27px;
    }
}

/* Media Query 1024px and up */
@media screen and (min-width: 1024px) {
    /* Header */

    h1 {
        font-size: 30px;
    }

    a {
        font-size: 20px;
    }

    #menu {
        gap: 200px;
    }

    /* Main content */
    #hero {
        height: 1114px;
        ;
    }

    /* Footer */
    span {
        font-size: 35px;
    }

    .media {
        font-size: 35px;
    }
}

/* Media Query 1440px and up */
@media screen and (min-width: 1440px) {
    /* Header */

    h1 {
        font-size: 40px;
    }

    a {
        font-size: 22px;
    }

    #menu {
        gap: 300px;
    }

    /* Main content */

    #hero {
        height: 1286px;

    }

    /* Footer */

    span {
        font-size: 40px;
    }

    .media {
        font-size: 40px;
    }
}

/* Media Query 2560px and up */
@media screen and (min-width: 2560px) {
    /* Header */

    h1 {
        font-size: 80px;
    }

    a {
        font-size: 44px;
    }

    #menu {
        gap: 300px;
    }

    /* Main content */
    #hero {
        height: 2388px;

    }

    /* Footer */

    span {
        font-size: 80px;
    }

    .media {
        font-size: 80px;
    }


}