/*Importing styles*/
@import url('https://fonts.googleapis.com/css2?family=Andika&family=Dhurjati&display=swap');


/* override default browser styles and add general styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: "Andika" sans-serif;
    color: #8f8c8c;
}

/* Header */
header {
    position: fixed;
    background-color: rgba(199, 195, 195, 0.3);
    width: 100%;
    /*Layered on top of every other element*/
    z-index: 99;
    padding: 0 10px;

}

a {
    text-decoration: none;
    color: #8f8c8c;
}

h1 {
    font-family: "Dhurjati";
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    color: rgb(31, 6, 6);

}

#menu {
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;
    list-style: none;
    gap: 20px;
    letter-spacing: 2px;
}

.active {
    text-decoration: underline;

}

/* Dropdown toggle */
nav {
    position: absolute;
    /* Takes element outside normal flow */
    background-color: rgba(199, 195, 195, 0.3);
    width: 100%;
    left: 0;
    padding: 0 10px;
    display: none;


}