/*Importing styles*/
@import url('https://fonts.googleapis.com/css2?family=Andika&family=Dhurjati&display=swap');


/* override default browser styles and add general styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: "Andika", sans-serif;
    color: #8f8c8c;
}

/* Header */
header {
    display: flex;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    /*Layered on top of every other element*/
    z-index: 99;
    padding: 0 10px;
    justify-content: space-between;
    align-items: baseline;
    box-shadow: 0 2px 2px #000000;

}

a {
    text-decoration: none;
    color: #f5f1e8;
}

a:hover {
    background-color: rgb(58, 36, 119);
}

h1 {
    font-family: "Dhurjati";
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    color: rgb(255, 255, 255);


}

#menu {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 0;
    list-style: none;
    gap: 20px;
    letter-spacing: 2px;
}

.active {
    text-decoration: underline;

}

/* Dropdown toggle helped with Love running project */
nav {
    /* Takes element outside normal flow */
    position: absolute;

    width: 100%;
    left: 0;
    padding: 0 10px;
    display: none;
    top: 100%;
    background-color: rgba(0, 0, 0, 0.3)
}

/* Nav dropdown pseudo class */
#dropdown:checked~nav {
    display: block;

}

#dropdown {
    display: none;
}

.dropdown-label {

    padding-right: 15px;
}



/* Main content */

main {
    flex: 1 0 auto;
    height: 100%;
    background-color: #771c75;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;


}

#one_zero_one {
    text-align: center;
    margin: 15px;
    color: #000000;
    border: double;

}

.escape_info {
    width: 100%;

}


.p_info {
    padding-bottom: 50px;
    color: rgb(255, 255, 255);
    padding-left: 15px;
    padding-right: 15px;
}

h2#one_zero_one {
    font-weight: 900;
    font-style: oblique;
    font-size: 35px;
    background-color: white;
    border: solid;
    border-radius: 1pc;
    text-transform: uppercase;
}

h3 {
    text-align: center;
    color: #a825a9;
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 23px;
    margin: 10px 20px;

}

h4 {
    text-align: center;
    color: #a825a9;
    padding-bottom: 5px;
    padding-top: 20px;
    font-size: 20px;
    margin: 10px 20px;

}

hr {
    width: 100%;
}

#basics {
    background-color: black;
    margin: 10px;
    border-radius: 3pc;

}

#what_is_er {
    background-color: black;
    margin: 10px;
    border-radius: 3pc;
}

#tips {
    background-color: black;
    margin: 10px;
    border-radius: 3pc;
}

#conclusion {
    background-color: black;
    margin: 10px;
    border-radius: 3pc;
}

#video {
    padding-bottom: 50px;
    background: url("../images/background.png") no-repeat center center/cover;

}

iframe#youtube {
    margin: 20px;
}



/* Hero images */
#hero {
    width: 100%;
    height: 653px;
    background: url("../images/hero.webp") no-repeat center center/cover;
}

#rooms_hero {
    width: 100%;
    height: 100vh;
    background: url("../images/hero3.png") no-repeat center center/cover;

}

#contact_hero {
    background: url("../images/contact.webp") no-repeat center center/cover;
    height: 100vh;

}

/*Rooms*/
div.rooms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid;
    border-radius: 3pc;
    margin: 20px;
    background-color: #000000;
}

.rooms>h3 {
    color: #a825a9;
}


ul.location_name {
    list-style: none;
    color: #a825a9;
    padding-bottom: 10px;
    margin: 10px;
}

li {
    color: #a825a9;
}

img#train {
    height: 23vh;
    margin: 20px 20px;
}

img#pub {
    height: 23vh;
    margin: 20px 20px;
}

img#vault {
    height: 21.6vh;
    margin: 20px 20px;

}

img#rod {
    height: 24.2vh;
    margin: 20px 20px;
}

#lowercase {
    text-transform: lowercase;
}

section#rooms_description {
    padding-bottom: 50px;
}

/* Contact form */
#form_div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#form {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
}

#title_form {
    color: white;
    font-size: 15px;
    text-decoration: underline;
    font-style: oblique;
}

.label {
    font-size: 20px;
    color: #a1a1a1;
}

.questions {
    font-size: 15px;
}

#submit:hover {
    background-color: green;
}

/* Footer */
footer {


    display: flex;
    position: fixed;
    background-color: #771c75;
    width: 100%;
    z-index: 98;
    padding: 5px 10px;
    justify-content: space-evenly;
    bottom: 0;

}

span {
    font-size: large;
    color: white;
}


/* Media Query 768px and up */
@media screen and (min-width: 768px) {

    /*Header */

    nav {
        display: block;
        position: relative;
        width: fit-content;
        display: flex;
        background-color: rgba(0, 0, 0, 0);
    }

    #menu {
        display: flex;
        flex-direction: row;
        gap: 100px;
    }

    .dropdown-label {
        display: none;
    }

    /*Main Content*/
    h1 {
        font-size: 30px;
    }

    h3 {
        font-size: 25px;
    }


    p {
        font-size: 17px;
    }

    #basics {
        background-color: black;
        margin: 40px;
        border-radius: 3pc;

    }

    #what_is_er {
        background-color: black;
        margin: 40px;
        border-radius: 3pc;
    }

    #tips {
        background-color: black;
        margin: 40px;
        border-radius: 3pc;
    }

    #conclusion {
        background-color: black;
        margin: 40px;
        border-radius: 3pc;
    }

    span {
        font-size: 27px;
    }

    .media {
        font-size: 27px;
    }

    #youtube {
        height: 300px;
        width: 500px;
    }

    #basics_info,
    #tips_con {
        display: flex;
        flex-direction: row;
        width: 100%;

    }

    #basics_info>div,
    #tips_con>div {
        width: 75%;

    }

    #tips_con>div {
        text-align: center;

    }

    /*Rooms*/
    div.rooms {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: solid;
        border-radius: 3pc;
        margin: 20px;
        background-color: #000000;
        margin: 60px;
    }

    img#train {
        height: 40vh;
        margin: 20px 20px;
    }

    img#pub {
        height: 40vh;
        margin: 20px 20px;
    }

    img#vault {
        height: 40vh;
        margin: 20px 20px;

    }

    img#rod {
        height: 40vh;
        margin: 20px 20px;
    }

    #hero {
        height: 836px;
    }

    /*Form page*/

}

/* Media Query 1024px and up */
@media screen and (min-width: 1024px) {

    /* Header */
    h1 {
        font-size: 40px;
    }

    a {
        font-size: 25px;
    }

    #menu {
        gap: 200px;
    }

    /* Main content */
    h3 {
        font-size: 25px;
    }

    p {
        font-size: 15px;
    }

    #hero {
        height: 1114px;

    }

    /*Rooms*/
    div.rooms {
        margin: 100px;
    }


    img#train {
        height: 40vh;
        margin: 20px 20px;
    }

    img#pub {
        height: 40vh;
        margin: 20px 20px;
    }

    img#vault {
        height: 40vh;
        margin: 20px 20px;

    }

    img#rod {
        height: 40vh;
        margin: 20px 20px;
    }

    /*Form page*/
    #title_form {
        color: white;
        font-size: 25px;
        text-decoration: underline;
        font-style: oblique;
    }

    .label {
        font-size: 30px;
    }

    .questions {
        font-size: 25px;
    }


    /* Footer */
    span {
        font-size: 35px;
    }

    .media {
        font-size: 35px;
    }
}


/* Media Query 1440px and up */
@media screen and (min-width: 1440px) {
    /* Header */

    h1 {
        font-size: 45px;
    }



    a {
        font-size: 25px;
    }

    #menu {
        gap: 300px;
    }

    /* Main content */

    #hero {
        height: 100vh;

    }

    h3 {
        font-size: 35px;
    }


    p {
        font-size: 20px;
    }

    /*Contact page */
    #title_form {
        color: white;
        font-size: 35px;
        text-decoration: underline;
        font-style: oblique;
    }

    .label {
        font-size: 40px;
    }

    .questions {
        font-size: 35px;
    }



    /* Footer */

    span {
        font-size: 40px;
    }

    .media {
        font-size: 40px;
    }
}

/* Media Query 2560px and up */
@media screen and (min-width: 2560px) {
    /* Header */

    h1 {
        font-size: 90px;
    }

    h2#one_zero_one {
        font-size: 100px;
    }

    h3 {
        font-size: 70px;
    }

    p {
        font-size: 40px;
    }

    li {
        font-size: 50px;
    }

    a {
        font-size: 80px;
    }

    .info {
        margin: 50px;
    }

    #menu {
        gap: 300px;
    }

    /* Main content */
    #hero {
        height: 100vh;

    }

    div.rooms {
        margin: 130px;
    }

    img#train {
        height: 60vh;
        margin: 20px 20px;
    }

    img#pub {
        height: 60vh;
        margin: 20px 20px;
    }

    img#vault {
        height: 60vh;
        margin: 20px 20px;

    }

    img#rod {
        height: 60vh;
        margin: 20px 20px;
    }

    iframe#youtube {
        margin: 20px;
        width: 50%;
        height: 900px;

    }

    /*Contact form */
    #title_form {
        color: white;
        font-size: 70px;
        text-decoration: underline;
        font-style: oblique;
    }

    .label {
        font-size: 70px;
    }

    .questions {
        font-size: 55px;
    }


    /* Footer */

    span {
        font-size: 80px;
    }

    .media {
        font-size: 80px;
    }




}